/* Header.module.css */

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #213547;
    color: white;
}

nav {
    width: 100%;
    padding: 1rem 3rem;
}

.navList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navGroup {
    display: flex;
    align-items: center;
    gap: 1rem
}

.navGroup li {
    margin-right: 10px;
    font-size: 2rem;
}

.navButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #721c24;;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.navButton:hover {
    background: #475E72;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    display: flex;
    background: #213547;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    text-align: start;
    position: relative;
    height: 50vh;
    right: 3vh;
    bottom: 20vh;
}

.closeButton {
    background: transparent;
    color: red;
    border: none;
    font-size: 36px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .navButton {
        display: none;
    }

    .headerContainer {
        display: flex;
    }
}

@media (max-width: 767px) {
    .headerContainer {
        display: none;
    }

    .navList {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        gap: 2rem;
    }

    .navGroup {
        flex-direction: column;
        gap: 2rem;
    }

    .navGroup li {

    }
}
